.features {
  @extend %section;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    } 

    &:nth-child(1), &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__icon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.features__label {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}
