.page-header {
    border-bottom: 1px solid #ececec;
  }
  
.page-header__container {
    display: flex;
    align-items: center;
  }

  .page-header__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  
    color: #000000;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
      padding-top: 26px;
      padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }