.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  margin-left: auto;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

// auth
.mobile-auth {
    margin-bottom: 64px;
}

.mobile-auth__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-auth__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;

  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}

.mobile-auth__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    
    color: #757575;
 }

// networks
.networks {
  display: flex;
  gap: 20px;
}

.networks__item {
  position: relative;
}

.networks__link::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 1px;
  top: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.2);
  transform: translateX(100%) translateY(100%) rotate(90deg);
}

.networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}

.menu-icon {
    fill: currentColor
}

.menu-icon:hover {
    fill: var(--accent-color);
}